footer.footer
    .content__container
        .footer__links
            a(href="#") Отзывы
            a(href="#") Отзывы
            a(href="#") Отзывы
            a(href="#") Отзывы
            a(href="#") Отзывы
            a(href="#") Отзывы